<div>
<form class="corpo">
  <h2>lista de usuários</h2>

  <input
    class="campo-pesquisa"
    type="text"
    name="name"
    placeholder="digite um nome a pesquisar "
  />

  <input class="botao-pesquisar" type="submit" value="pesquisar" />

  <ul>
    <li class="lista" *ngFor="let usuario of usuarios">
     <a routerLink=" {{ usuario.cpf }} ">    {{usuario.name}}    </a>

      <button (click)="showUsuario(usuario)"> detalhes </button>
      <p>{{ usuarioDetails }}</p>
      <button (click)="removeUsuario(usuario)">excluir</button>
    </li>
  </ul>
</form>

</div>