<form class="corpo">
  <h2>lista de usuários</h2>

  <input
    class="campo-pesquisa"
    type="text"
    name="name"
    placeholder="digite um nome a pesquisar "
  />

  <input class="botao-pesquisar" type="submit" value="pesquisar" />

  <ul>
    <li class="lista" *ngFor="let usuario of usuarios">
      {{ usuario.name | uppercase }}

      <button (click)="showUsuario(usuario)">detalhes <p>{{ usuarioDetails }}</p></button>

      <button (click)="removeUsuario(usuario)">excluir</button>
    </li>
  </ul>

  <h2></h2>
</form>
